<h2>Circuit Breaker</h2>

<table class="table table-striped">
    @foreach (var item in ViewBag.Products)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
        </tr>
    }
</table>