<h2>Circuit Breaker</h2>

<table class="table table-striped">
    @foreach (var item in ViewBag.Products)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td><img src="~/images/@item.Image" style="width: 100px; height: 100px;" /></td>
        </tr>
    }
</table>